
.btn{
    margin-bottom:10px;
    
    display:inline-block;
    padding:6px 12px;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:9px
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}

input{
    line-height:normal;    
    display: inline-block;
    
}

input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
}

input[type=checkbox]:checked + label {
    font-style: normal;
    color: rgb(56,110,246);
    border: 1px solid rgb(56,110,246);
    background-color: rgb(226,233,253)
}


.search-div{
    width: 80%;
    justify-content:center;
    vertical-align: middle;
}

.search-div ul{
    padding-left: 0px;
}

.search-div-long{
    width: 100%;
}

.search-div-long li {
    list-style-type: none;
    border: 1px solid;
    border-radius:9px;
    padding : 10px;
    margin : 5px;
    width: 100%;
}

.search-div-long li:hover {
    list-style-type: none;
    border: 1px solid;
    border-radius:9px;
    padding : 10px;
    margin : 5px;
    width: 100%;
    border: 1px solid rgb(56,110,246);
    background-color: rgb(56,110,246);
}


.search-div-elem {
    width: 100%;
}
.search-div-elem li {
    display:inline-block;
    list-style-type: none;
    border: 1px solid;
    border-radius:9px;
    padding : 10px;
    margin : 5px 0px 5px 0px;
    height: 20px;
}

.topic_selection_div{
    display: inline-block;
    text-align: left;
    width: 80%;
}